{% extends "base_generic.html" %}

{% block title %}<title>Author List</title>{% endblock %}
{% block content %}
    <h1>Author List {% if perms.catalog.can_mark_returned %}<a href="{% url 'author_create' %}" style="margin-left: 100px;font-size: 13pt;line-height: 36px;">+ Add Author</a> {% endif %}</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author }}
        ({{ author.date_of_birth|date:"d.m.Y" }} - {% if author.date_of_death %}{{ author.date_of_death|date:"d.m.Y" }}{% else %}...{% endif %})</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no authors available.</p>
    {% endif %} 
{% endblock %}